<script setup lang="ts">
import UserList from "./UserList.vue";
import UserDialog from "./UserDialog.vue";
import UserCardList from "./UserCardList.vue";
import { useUserStore } from "@/stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
const useUser = useUserStore();
</script>

<template>
  <!-- <div class="text-h1">User View</div> -->
  <v-container>
    <v-row>
      <UserList v-if="useUser.Istable" />
      <UserCardList v-if="!useUser.Istable" />
      <UserDialog />
    </v-row>
    <v-row class="justify-center mt-9">
      <v-btn :icon="mdiTable" flat @click="useUser.Istable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="useUser.Istable = false"
      ></v-btn>
    </v-row>
  </v-container>
</template>

<style scoped></style>
